= form_tag user_sessions_path, :method => :post, class: 'form-signin' do
  %h2.form-signin-heading Авторизация
  = label_tag :inputEmail, 'E-Mail', class: 'sr-only'
  = email_field_tag 'email', nil, class: 'form-control', placeholder: 'Email адрес', required: true, autofocus: true
  = label_tag :inputPassword, 'Пароль', class: 'sr-only'
  = password_field_tag 'password', nil, class: 'form-control', placeholder: 'Пароль', required: true, autofocus: true
  %div.checkbox
    %label
      =check_box_tag 'remember_me', nil, true
      Запомнить
  =button_tag  'Войти', class: 'btn btn-lg btn-primary btn-block'
  %p= link_to 'Забыли пароль?', '#'
