.page-header
  %h1
    Заявки
  - if @requests.empty?
    %p
      Нет ни одной заявки.
      = link_to "Создать новую?", new_request_path if current_user.has_role? :agent
  -else
    %p.text-right= link_to "Создать новую заявку", new_request_path if current_user.has_role? :agent
    %table.table.table-hover
      %thead
        %tr
          %th Код заявки
          %th Клиент (ИНН)
          - if current_user.has_role? :partner
            %th Агент
          %th Дата заявки
          %th Статус
          - if current_user.has_role? :partner
            %th Одобрено
          %th Срок БГ (дней)
          %th Размер обеспечения
          %th
      - @requests.each do |request|
        %tr
          %td= link_to request.id, request
          %td
            = client(request.client_id).name
            = "(#{client(request.client_id).inn})"
          - if current_user.has_role? :partner
            %td= user(request.user_id).name
          %td= request.created_at.strftime("%d.%m.%Y %H:%M:%S")
          %td= request_status(request.status)
          - if current_user.has_role? :partner
            %td.danger одобрено?
          %td= "по #{request.date_end.strftime('%d.%m.%Y')} (#{request.date_end.mjd - request.created_at.to_date.mjd})"
          %td
            = summ_delimeter(request.bg_summ)
            = currency(request.summ_currency)

          %td.text-right
            = link_to "Изменить", edit_request_path(request), class: "btn btn-sm btn-primary"
            = link_to "Удалить", request, class: "btn btn-sm btn-danger", method: :delete, data: {confirm: "Действительно хотите удалить?"}

