.page-header
  %h1
    Заявки
    %small= 'агента '+current_user.name
- if @requests.empty?
  %p
    Нет ни одной заявки.
    = link_to "Создать новую?", new_request_path
-else
  %p.text-right= link_to "Создать новую заявку", new_request_path
  %table.table.table-hover
    %thead
      %tr
        %th #
        %th Клиент (ИНН)
        %th Агент
        %th Дата заявки
        %th Статус
        %th Одобрено
        %th Срок БГ (дней)
        %th Размер обеспечения
        %th
    - @requests.each do |request|
      %tr
        %td= request.id
        %td
          = client(request.client_id).name
          = "(#{client(request.client_id).inn})"
        %td= user(request.user_id).name
        %td= request.created_at.strftime("%d.%m.%Y %H:%M:%S")
        %td.danger статус?
        %td.danger одобрено?
        %td.danger 25.03.2017 22:16
        %td.danger 345 345

        %td.text-right
          = link_to "Изменить", edit_request_path(request), class: "btn btn-sm btn-primary"
          = link_to "Удалить", request, class: "btn btn-sm btn-danger", method: :delete, data: {confirm: "Действительно хотите удалить?"}

